body {
    font-family: Arial, Helvetica, sans-serif;

}

#title {
    text-align: center;
}

main {
    margin: auto;
    width: 30%;
}

.list-input-container {
    display: flex;

}

#product-input-container {
    display: flex;
    margin: auto 0px auto auto;
    flex-direction: column;
}

.product-input {
    width: 30px;
    margin: 2px;
}


.product-list-description {

    text-align: left;
    height: 20px;
    margin: 5px;

}

.total-container {
    text-align: center;
    margin: auto;
}

#button-calculate {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
}

#button-calculate:disabled {

    background-color: #89b18a;

}

.total-result {
    display: flex;
    justify-content: right;
}

h3 {
    padding: 0 0 0 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}