body {
    font-family: Arial, Helvetica, sans-serif;

}

#title {
    text-align: center;
}

main {
    margin: auto;
    width: 20%;
}

.importe-total, .cantidad-pagada {
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px 0px 10px 0px;
}

#total, #payed {
    width: 50px;
    margin: auto;
    position: absolute;
    right: 0;
    border: none;
    border-bottom: 1.5px solid grey;
    text-align: right;
}

#total:focus, #payed:focus {
    outline: none;
    border-bottom: 2px solid;
}

#result-box {
    padding-top: 55px;
    display: block;
}

#result {
    text-align: right;
   padding-top: 55px;
}

.result-style {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 20px;

}

.error-result {
    color: red;
}

#button-calculate {
    margin-top: 20px;
    background-color: #4CAF50;
    float: right;
    border: none;
    color: white;
    padding: 10px;
    width: 110px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#button-calculate:disabled {
    background-color: #89b18a;
    cursor: auto;
}

#button-calculate:hover:enabled {
    background-color: #29612b;
}

#button-calculate:active:enabled {
    background-color: #1f4720;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}